body {
    height: 100vh;
}

.highlight {
    border: 2px dashed #ccc;
    border-radius: 20px;
    border-color: black;
}

.no-file {
    background-color: #ffbebe;
    color: #be0808;
}

.columns {
    text-align: center;
}

.license-div {
    border-radius: 5px;
}

.rkg-button {
    margin-top: 0.5rem;
}

.rkg-button, .rkg-button > * {
    cursor: pointer;
}

button, button > * {
    cursor: pointer;
}

#import-save-butt {
    font-weight: bold;
}

tbody {
    height: 30em;
    overflow-y: scroll;
    display: block;
    scrollbar-width: thin;
}

#pb-t {
    height: 15em;
}

#download-t {
    height: 15em;
}

.table-container {
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 0px !important;
}

.t-header {
    padding-bottom: 10px;
    padding-top: 5px;
}

tr {
    display: block;
    writing-mode: horizontal-tb;
}

.table td {
    border: 0px solid;
}

#mini-select {
    padding:2em;
    padding-top: 2.2em;
}

#mini-select .column {
    border-radius: 5px;
    height: 30px;
    max-width: 50px;
    cursor: pointer;
}

#mini-yellow {
    background-color: hsl(48, 100%, 67%);
    margin-right: 8px !important;
    margin-bottom: 8px !important;
}

#mini-blue {
    background-color: hsl(204, 86%, 53%);
    margin-left: 8px !important;
    margin-bottom: 8px !important;
}

#mini-red {
    background-color: hsl(348, 100%, 61%);
    margin-right: 8px !important;
    margin-top: 8px !important;
}

#mini-green {
    background-color: hsl(141, 71%, 48%);
    margin-left: 8px !important;
    margin-top: 8px !important;
}

#ghost-import {
    background-color: hsl(48, 100%, 67%);
}

#license {
    background-color: hsl(204, 86%, 53%);
}

.main-column {
}

#mid-col {
    padding-top: 100px;
}

#top-arrow {
    margin-bottom: 170px;
}

/* scrollbar-color is firefox only for the time being*/

.l1-t {
    background-color: hsl(48, 100%, 67%) !important;
    scrollbar-color: hsl(48, 100%, 30%) hsl(48, 100%, 50%);
}

.l2-t {
    background-color: hsl(204, 86%, 53%) !important;
    scrollbar-color: hsl(204, 86%, 30%) hsl(204, 86%, 40%);
}

.l3-t {
    background-color: hsl(348, 100%, 61%) !important;
    scrollbar-color: hsl(348, 100%, 34%) hsl(348, 100%, 44%);
}

.l4-t {
    background-color: hsl(141, 71%, 48%) !important;
    scrollbar-color: hsl(141, 71%, 25%) hsl(141, 71%, 35%);
}

.import-t {
    background-color: hsl(230, 13%, 61%) !important;
    scrollbar-color: hsl(229, 8%, 40%) hsl(230, 13%, 61%);
}

/* webkit versions for chrome and other browsers*/

#l1-t::-webkit-scrollbar {
    width: 10px;
    background: hsl(48, 100%, 50%);
}

#l1-t::-webkit-scrollbar-thumb {
    background: hsl(48, 100%, 30%);
}

#l2-t::-webkit-scrollbar {
    width: 10px;
    background: hsl(204, 86%, 40%);
}

#l2-t::-webkit-scrollbar-thumb {
    background: hsl(204, 86%, 30%);
}

#l3-t::-webkit-scrollbar {
    width: 10px;
    background: hsl(348, 100%, 44%);
}

#l3-t::-webkit-scrollbar-thumb {
    background: hsl(348, 100%, 34%);
}

#l4-t::-webkit-scrollbar {
    width: 10px;
    background: hsl(141, 71%, 35%);
}

#l4-t::-webkit-scrollbar-thumb {
    background: hsl(141, 71%, 25%);
}

#l1-t tr:nth-child(odd) {
    background-color: hsl(48, 100%, 50%);
}

#l1-t tr:nth-child(even) {
    background-color: hsl(48, 100%, 67%);
}

#l2-t tr:nth-child(odd) {
    background-color: hsl(204, 86%, 40%);
}

#l2-t tr:nth-child(even) {
    background-color: hsl(204, 86%, 53%);
}

#l3-t tr:nth-child(odd) {
    background-color: hsl(348, 100%, 44%);
}

#l3-t tr:nth-child(even) {
    background-color: hsl(348, 100%, 61%);
}

#l4-t tr:nth-child(odd) {
    background-color: hsl(141, 71%, 35%);
}

#l4-t tr:nth-child(even) {
    background-color: hsl(141, 71%, 48%);
}

#import-t tr:nth-child(odd) {
    background-color: hsl(230, 13%, 61%);
}

#import-t tr:nth-child(even) {
    background-color: hsl(229, 8%, 40%);
}