:root {
    --bulma-black: #4a4a4a;
    --yellow-main:  hsl(48, 100%, 67%);
    --yellow-secondary: hsl(48, 100%, 50%);
    --yellow-dark: hsl(48, 100%, 30%);
    --blue-main:  hsl(204, 86%, 53%);
    --blue-secondary: hsl(204, 86%, 40%);
    --blue-dark: hsl(204, 86%, 30%);
    --red-main: hsl(348, 100%, 61%);
    --red-secondary: hsl(348, 100%, 46%);
    --red-dark: hsl(348, 100%, 34%);
    --green-main: hsl(141, 71%, 48%);
    --green-secondary: hsl(141, 71%, 35%);
    --green-dark: hsl(141, 71%, 25%);
    --neutral-main: hsl(199, 31%, 78%);
    --neutral-secondary: hsl(199, 31%, 60%);
    --neutral-dark: hsl(199, 31%, 50%);
  }

body {
    height: 100vh;
}

.highlight {
    border: 2px dashed #ccc;
    border-radius: 20px;
    border-color: black;
}

.no-file {
    background-color: #ffbebe;
    color: #be0808;
}

.columns {
    text-align: center;
}

.license-div {
    border-radius: 5px;
}

#rkg-button {
    margin-top: 0.5em;
}

#rkg-button, #rkg-button > * {
    cursor: pointer;
}

button {
    margin-top: 0.5em;
}

button, button > * {
    cursor: pointer;
}

#import-save-butt {
    font-weight: bold;
}

.tabs {
    margin-bottom: 0em !important;
}

.tabs ul {
    border: none;
}

.tabs.is-boxed a {
    background-color: var(--neutral-secondary);
    border: none;
}

.tabs.is-boxed a:hover {
    filter: brightness(120%);
}

.tabs.is-boxed li.is-active a {
    background-color: var(--neutral-main);
    color: var(--bulma-black);
}

.tabs.is-boxed.neutral-tabs a {
    background-color: var(--neutral-secondary);
}

.tabs.is-boxed.neutral-tabs li.is-active a {
    background-color: var(--neutral-main);
}

.tabs.is-boxed.l1-tabs a {
    background-color: var(--yellow-secondary);
}

.tabs.is-boxed.l1-tabs li.is-active a {
    background-color: var(--yellow-main);
}

.tabs.is-boxed.l2-tabs a {
    background-color: var(--blue-secondary);
}

.tabs.is-boxed.l2-tabs li.is-active a {
    background-color: var(--blue-main);
}

.tabs.is-boxed.l3-tabs a {
    background-color: var(--red-secondary);
}

.tabs.is-boxed.l3-tabs li.is-active a {
    background-color: var(--red-main);
}

.tabs.is-boxed.l4-tabs a {
    background-color: var(--green-secondary);
}

.tabs.is-boxed.l4-tabs li.is-active a {
    background-color: var(--green-main);
}

tbody {
    height: 30em;
    overflow-y: auto;
    display: block;
    scrollbar-width: thin;
    background-color:var(--neutral-main) !important;
    scrollbar-color: var(--neutral-dark) var(--neutral-secondary);
}

.table-container {
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 0px !important;
}

.t-header {
    padding-top: 0.2em;
    padding-bottom: 0.3em;
}

tr {
    display: block;
    writing-mode: horizontal-tb;
}

.table td {
    border: 0px solid;
}

#download-col .button {
    margin-top: 0;
    height: 100%;
}

#mini-select {
    padding-top: 1.7em;
}

#mini-select .column {
    border-radius: 5px;
    height: 38px;
    max-width: 80px;
    cursor: pointer;
    padding-top:3px;
}

.mini-border {
    border: solid;
}

#mini-1 {   
    margin-right: 8px !important;
    margin-bottom: 8px !important;
}

#mini-2 {
    margin-left: 8px !important;
    margin-bottom: 8px !important;
}

#mini-3 {
    margin-right: 8px !important;
    margin-top: 8px !important;
}

#mini-4 {
    margin-left: 8px !important;
    margin-top: 8px !important;
}

.l1 {
    background-color: var(--yellow-main);
}

.l2 {
    background-color: var(--blue-main);
}

.l3 {
    background-color: var(--red-main);
}

.l4 {
    background-color: var(--green-main);
}

.neutral {
    background-color: var(--neutral-main);
}

#mid-col {
    padding-top: 14em;
}

#import-button {
    cursor: pointer;
}

#import-button.warning{
    color: var(--red-dark);
}

.tooltip {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s; 
    transition: opacity 0.5s;

    color: #DDDDDD;
    background-color: #001f3f;
    z-index: 100;
    padding: .5em;
    position: fixed;
}

.tooltip.fade{
    opacity: 1;
}

.tooltip .mid-col {
    border-right: #DDDDDD solid 1px;
    width: 0px;
}
    

/* scrollbar-color is firefox only for the time being*/

.l1-t {
    background-color:var(--yellow-main) !important;
    scrollbar-color: var(--yellow-dark) var(--yellow-secondary);
}

.l2-t {
    background-color:var(--blue-main) !important;
    scrollbar-color: var(--blue-dark) var(--blue-secondary);
}

.l3-t {
    background-color:var(--red-main) !important;
    scrollbar-color: var(--red-dark) var(--red-secondary);
}

.l4-t {
    background-color:var(--green-main) !important;
    scrollbar-color: var(--green-dark) var(--green-secondary);
}

/* webkit versions for chrome and other browsers*/

.l1-t::-webkit-scrollbar {
    width: 10px;
    background: var(--yellow-secondary);
}

.l1-t::-webkit-scrollbar-thumb {
    background: var(--yellow-dark);
}

.l2-t::-webkit-scrollbar {
    width: 10px;
    background: var(--blue-secondary);
}

.l2-t::-webkit-scrollbar-thumb {
    background: var(--blue-dark);
}

.l3-t::-webkit-scrollbar {
    width: 10px;
    background: var(--red-secondary);
}

.l3-t::-webkit-scrollbar-thumb {
    background: var(--red-dark);
}

.l4-t::-webkit-scrollbar {
    width: 10px;
    background: var(--green-secondary);
}

.l4-t::-webkit-scrollbar-thumb {
    background: var(--green-dark);
}

#import-t::-webkit-scrollbar {
    width: 10px;
    background: var(--neutral-secondary);
}

#import-t::-webkit-scrollbar-thumb {
    background: var(--neutral-dark);
}

.l1-t tr:nth-child(even) {
    background-color: var(--yellow-secondary);
}

.l1-t tr:nth-child(odd) {
    background-color: var(--yellow-main);
}

.l2-t tr:nth-child(even) {
    background-color: var(--blue-secondary);
}

.l2-t tr:nth-child(odd) {
    background-color: var(--blue-main);
}

.l3-t tr:nth-child(even) {
    background-color: var(--red-secondary);
}

.l3-t tr:nth-child(odd) {
    background-color: var(--red-main);
}

.l4-t tr:nth-child(even) {
    background-color: var(--green-secondary);
}

.l4-t tr:nth-child(odd) {
    background-color: var(--green-main);
}

#import-t tr:nth-child(even) {
    background-color:  var(--neutral-secondary);
}

#import-t tr:nth-child(odd) {
    background-color: var(--neutral-main);
}