body {
    text-align: center;
    height: 100%;
}

.tabs-button {
    background-color: white;
}

li {
    width:6em;
}

#main-table td{
    vertical-align: middle;
}

.top-select {
     width: 10em;
}

.time-field {
    width: 6em;
}

.country-select {
    width: 10em;
}

#rankings-title {
    margin-bottom: 1em;
}

.flag-column{
    /* margin-right: 0.5em; */
    width: 10px;
}

.player-field {
    width: 10em;
}

.position {
    cursor: pointer;
    font-weight: bold;
}

#main-table .light-yellow {
    background-color: #ffeb94;
}

.label-span {
    display: block;
    width: 10em;
    max-width: 10em;
}

.flag {
    max-width: 75%;
}